<div class="sort">
  Sort by:
  <%= sortable "title" %>
  <%= sortable "author" %>
  <%= link_to "My Ranking", @to_read_books_path %>
</div>

<ul class="to_read_books">
  <% @to_read_books.each do |book| %>
    <li>
      <%= book.to_read_books.first.rank unless nil %>
      <%= link_to( image_tag(book.display_cover), book_path(book), class: "book-#{book.id}") %>
      <%= book.title %>
      <% book.authors.each do |author| %>
        <%= author.name %>
      <% end %>
    </li>
  <% end %>
</ul>
