<div class="sort">
  Sort by:
  <%= sortable "title" %>
  <%= sortable "author" %>
  <% unless params[:sort].nil? %>
    <%= link_to "Remove", @books_path %>
  <% end %>
</div>

<div class="filter">
  <%= form_tag books_path, method: "get" do %>
    <%= label_tag :genre, "Filter" %>
    <%= select(:genre, :id, options_for_select(@genre_select_options, selected: @selected_genre), prompt: Genre::PROMPT) %>
    <%= submit_tag "Filter", name: nil, id: "submit_filter" %>
    <% unless @selected_genre.nil? %>
      <%= link_to "Remove filter", @books_path %>
    <% end %>
  <% end %>
</div>

<ul class="books">
  <% @books.each do |book| %>
    <li>
      <%= link_to( image_tag(book.display_cover), book_path(book), class: "book-#{book.id}") %>
      <%= book.title %>
      <% book.authors.each do |author| %>
        <%= author.name %>
      <% end %>
      <% book.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
      <%= book.description %>
    </li>
  <% end %>
</ul>

<%= paginate @books, window: 2 %>
