<div class="book-index">
  <div class="sort grid-x grid-padding-x grid-padding-y">
    <div class="small-2 medium-2 large-1 cell align-self-middle">
      <div class="text-right">Sort by</div>
    </div>
    <div class="cell auto">
      <%= sortable "title" %>
      <%= sortable "author" %>
      <% unless params[:sort].nil? %>
        <%= link_to "Remove", @books_path, class: "button" %>
      <% end %>
    </div>
  </div>

  <%= form_tag books_path, method: "get" do %>
    <div class="grid-x grid-padding-x align-middle">
      <div class="small-2 medium-2 large-1 cell">
        <%= label_tag :genre, "Filter", class: "text-right middle" %>
      </div>
      <div class="small-6 large-3 cell">
        <%= select(:genre, :id, options_for_select(@genre_select_options, selected: @selected_genre), prompt: Genre::PROMPT) %>
      </div>
      <div class="cell auto">
        <%= submit_tag "Filter", name: nil, id: "submit_filter", class: "middle" %>
        <% unless @selected_genre.nil? %>
          <%= link_to "Remove", @books_path, class: "button" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <ul class="books grid-x grid-padding-x medium-up-1 large-up-2">
    <% @books.each do |book| %>
      <li class="cell grid-x grid-padding-y">
        <div class="medium-6 cell">
          <%= link_to( image_tag(book.display_cover), book_path(book), class: "book-cover book-#{book.id}") %>
        </div>
        <dl class="cell auto">
          <dt>Title</dt>
          <dd><%= book.title %></dd>
          <dt>Author(s)</dt>
            <dd><%= book.display_authors %></dd>
          <dt>Genre(s)</dt>
            <dd><%= book.display_genres %></dd>
          <dt>Brief Description</dt>
          <dd><%= book.brief_description %></dd>
        </dl>
      </li>
    <% end %>
  </ul>

  <%= paginate @books, left: 2, right: 2, window: 1 %>
</div>
