
<%= sortable "title" %>
<%= sortable "author" %>
<%= link_to "None", @books_path %>

<ul class="books">
  <% @books.each do |book| %>
    <li>
      <%= link_to( image_tag(book.display_cover), book_path(book), class: "book-#{book.id}") %>
      <%= book.title %>
      <% book.authors.each do |author| %>
        <%= author.name %>
      <% end %>
      <% book.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
      <%= book.description %>
    </li>
  <% end %>
</ul>
