<div class="grid-container">
  <div class="grid-x align-justify">
    <div class="cell large-6" id="form-anchor" data-something>
      <h1 class="h2"><%= @book.title %></h1>
      <%= image_tag(@book.display_cover) %>
      <div class="detail-buttons button-group">
        <% if @have_read_book.id.present? %>
          <p class="read-sign">Already Read</p>
        <% elsif @to_read_book.id.present? %>
          <p class="read-sign">Added To Read</p>
        <% else %>
          <%= button_to "Add To Read", { controller: "to_read_books", method: "post", book_id: @book.id }, { class: "button" } %>
          <%= button_to "Already Read", { controller: "have_read_books", method: "post", book_id: @book.id }, { class: "button" } %>
        <% end %>
      </div>
      <dl>
        <dt>Author(s)</dt>
        <dd><%= @book.display_authors %></dd>
        <dt>Genre(s)</dt>
        <dd><%= @book.display_genres %></dd>
        <dt>Publication Year</dt>
        <dd><%= @book.year %></dd>
        <dt>Number of Pages</dt>
        <dd><%= @book.pages %></dd>
        <dt>Description</dt>
        <dd><%= @book.description %></dd>
      </dl>
    </div>
    <div class="cell large-5" data-sticky-container>
      <div class="sticky callout warning" data-sticky data-options="stickyOn:large" data-margin-top="8" data-anchor="form-anchor">
        <h1 class="h4">My Review</h1>
        <p>Use the form below to submit or edit a review of this book</p>

        <%= form_tag(have_read_books_create_or_update_path, class: "review-form") do |f| %>
          <%= hidden_field_tag(:id, @have_read_book.id) %>
          <%= hidden_field_tag(:book_id, @book.id) %>

          <div class="field">
            <%= label_tag :rating %>
            <% if @have_read_book.no_review_data? || params[:condition].present? %>
              <div class="grid-x" id="no-bottom-padding">
                <div class="cell small-2">
                  <%= select_tag(:rating, options_for_select(HaveReadBook::RATINGS, selected: @have_read_book.rating), include_blank: true) %>
                </div>
              </div>
            <% elsif @have_read_book.rating.nil? %>
                <p>Not rated</p>
            <% else %>
              <p><%= @have_read_book.rating %> out of 10</p>
            <% end %>
          </div>

          <div class="field">
            <%= label_tag :note, "Review" %>
            <% if @have_read_book.no_review_data? || params[:condition].present? %>
              <%= text_area_tag(:note, @have_read_book.note, size: "24x8") %>
            <% else %>
              <p><%= @have_read_book.note %></p>
            <% end %>
          </div>

          <div class="actions grid-x align-right" id="remove-padding">
            <% if @have_read_book.no_review_data? || params[:condition].present? %>
              <%= link_to "Cancel", book_path(@book), class: "cancel" %>
              <%= submit_tag "Submit", name: nil %>
            <% else %>
              <%= link_to "Edit", book_path(@book, condition: "edit"), class: 'edit-review' %>
              <%= link_to "Delete", { controller: "have_read_books", action: "destroy_review", id: @have_read_book.id } %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<hr>

<div class="view-reviews grid-container">
  <h1 class="h2">Reviews</h1>
  <% if @reviews.all? { |review| review.no_review_data? } %>
    <h2 class="h4 none">None</h2>
  <% end %>

  <ul class="review-list">
    <% @reviews.each do |review| %>
      <% unless review.no_review_data? %>
        <li class="callout <%= "#{color(review)}" %>" id="review-<%= review.id %>">
          <div class="grid-x grid-padding-x">
            <div class="user-info cell shrink text-center">
              <%= image_tag review.user.avatar.thumb.url, class: 'avatar' if review.user.avatar.file %>
              <p><%= review.user.username %></p>
            </div>
            <div class="review-info cell auto">
              <% if review.rating.nil? %>
                <h2 class="h4">Not rated</h2>
              <% else %>
                <h2 class="h4"><%= review.rating %> out of 10</h2>
              <% end %>

              <p><%= review.note %></p>

              <% if review.date_completed.nil? && review.user == current_user %>
                <p><small><%= link_to 'Add date completed', have_read_books_path %></small></p>
              <% elsif review.date_completed.nil? %>
                <p><small>Date completed not available</small></p>
              <% else %>
                <p><small>Finished reading <%= review.display_date %></small></p>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
