<!DOCTYPE html>
<html>
  <head>
    <title>BookIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag   'application' %>
  </head>

  <body>
    <section class="top-bar">
      <div class="flash">
        <%- if notice -%>
          <p class="notice callout small success"><%= notice %></p>
        <%- end -%>
        <%- if alert -%>
          <p class="alert callout small alert"><%= alert %></p>
        <%- end -%>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <li><%= link_to 'Browse Books', books_path %></li>
          <%- if current_user -%>
            <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
      </div>
    </section>


    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title"><%= link_to "Have Read", have_read_books_path %></li>
      <li class="tabs-title"><%= link_to "To Read", to_read_books_path %></li>
    </ul>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
